body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
  }

/*== Fullscreen Height ==*/
.fullscreen {
    min-height: 100vh !important;
  }
  
  /*== Fullscreen Height ==*/
  .fullscreen-with-header {
    min-height: calc(100vh - 67px) !important;
  }


/*=== 5.6 Hero Background ===*/
.hero-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .hero-wrap .hero-mask {
    z-index: 1;
  }
  
  .hero-wrap .hero-content {
    position: relative;
    z-index: 2;
  }
  
  .hero-wrap .hero-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  
  .hero-wrap .hero-bg-slideshow {
    z-index: 0;
  }
  
  .hero-wrap .hero-bg {
    z-index: 0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
  }
  
  .hero-wrap .hero-bg.hero-bg-scroll {
    background-attachment: scroll;
  }
  
  .hero-wrap .hero-bg-slideshow .hero-bg {
    background-attachment: inherit;
  }
  
  .hero-wrap .hero-bg-slideshow.owl-carousel .owl-stage-outer, .hero-wrap .hero-bg-slideshow.owl-carousel .owl-stage, .hero-wrap .hero-bg-slideshow.owl-carousel .owl-item {
    height: 100%;
  }
  
  
  .profile-small{
    width: 300px;
  }

  .navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100;
  }

  .navbar-nav .nav-link {
    color: #fff !important;
  }

  .section {
    position: relative;
    padding: 6.5rem 0;
    overflow: hidden;
  }
  
  @media (max-width: 767.98px) {
    .section {
      padding: 3.5rem 0;
    }
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30%;
  }

  .title-badge{
    font-size: 15px;
    background: #2A343D;
    color: white;
    padding: 10px 15px;
    font-weight: 400;
  }

  .about-heading {
    margin-top: 10px;
    margin-bottom: 80px;
    font-weight: bold;
  }

  .years-of-experience-badge {
    font-size: 100px;
    margin-bottom: 10px;
    background: #1C748C;
  }

  .years-of-experience-text {
    font-size: 18px;
    font-weight: 600;
  }

  .years-of-experience-text span {
    font-size: 18px;
    font-weight: bolder;
  }

  .self-introduction {
    font-weight: 400;
  }
  
  .span-name{
    text-decoration: underline solid #1C748C 10%;
  }

  .self-description{
    text-align: start;
    font-size: 20px;
    font-weight: 400;
  }